/* .App {
  text-align: center;
} */

.light-blue {
  background-color: #87CEEB;
}

.blue {
  background-color: #30AADC;
}

.light-pink {
  background-color: #FEC0CB;
}

.pink {
  background-color: #FE8DA0;
}