@import "../../styles/variables/_palette";

.HeaderCell {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    border: none;
    padding: 16px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 100%;
    width: 100%;

    &:hover {
      cursor: pointer;
      color: #0B95FF;
    }

    svg {
      height: 1rem;
      width: 1rem;
      margin-left: 4px;
    }
  }
}