@import "../../styles/variables/_palette";

.AcceptedCell {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 2rem;
    width: 2rem;
  }

  &__accepted {
    color: $accepted-green;
  }

  &__rejected {
    color: $failed-red;
  }
}
