@import "../../styles/breakpoints";

.wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

@media (max-width: $tabletBreakpoint) {
  .wrapper-tablet {
    flex-direction: column;
    .cell {
      width: 100%;
    }
  }
}

@media (max-width: $mobileBreakpoint) {
  .wrapper-mobile {
    flex-direction: column;
    .cell {
      width: 100%;
    }
  }
}