@import "../../styles/breakpoints.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

@media (max-width: $tabletBreakpoint) {
  .wrapper {
    flex-direction: column;
    .cell {
      width: 100%;
    }
  }
}