@import "../../styles/variables/_palette";

.cell {
  width: 100px;
  padding: 16px 8px;
  width: auto;
  box-sizing: border-box;;
  border: 1px solid $table-border-gray;

  p {
    margin: 0;
  }

  &__header {
    background-color: $table-header-gray;
  }
}